[mysqld]
user = mysql
# El servidor se ejecuta bajo el usuario 'mysql' por razones de seguridad.

pid-file = /run/mysqld/mysqld.pid
# Archivo donde se guarda el Process ID (PID) del servidor para monitoreo o detención.

port = 3306
# Puerto 3306, predeterminado para MariaDB/MySQL, en el que el servidor escucha conexiones.

socket = /var/run/mysqld/mysqld.sock
# Archivo de socket para conexiones locales, más rápido que usar TCP/IP.

bind-address = 0.0.0.0
# Permite conexiones desde todas las interfaces de red (típico en Docker).

basedir = /usr
# Directorio base donde se encuentran los binarios de MariaDB.

datadir = /var/lib/mysql
# Directorio donde se almacenan los datos de las bases de datos (mapear a volúmenes en Docker).

tmpdir = /tmp
# Directorio para archivos temporales generados por MariaDB durante operaciones.
